package templates

import "github.com/bagvendt/chores/internal/models"

templ Home(routines []models.Routine) {
    <div class="home-container">
        if len(routines) == 0 {
            <p>No routines available. Create some routines first!</p>
        } else {
            <div class="routines-grid">
                for _, routine := range routines {
                    @RoutineCard(routine)
                }
            </div>
        }
    </div>
}